
*{

  font-family: 'Montserrat', sans-serif;

}

body, html{

  height: 100%;
}

.navbar {
  
  border-bottom: 1px solid  #DDDDDD;
  
}

ul.navbar-nav{
  margin-left: auto;    /*shifted navbar to the right in desktop mode*/
}

.navbar-brand{

  font-size: 24px;
  letter-spacing: 6px;      /*styled my logo as a text*/
  font-weight: 600;
}


.navbar-collapse {
  text-align: center;     /*brought links to center in collapsed mode*/
}


.navbar-light .navbar-nav .nav-link {     
  
  font-size: 13px;
  color: #000;          
  font-weight: 600;       /*colored the links as black*/
}


.navbar-light .navbar-nav .nav-link:hover{

  color: #8CAB5C;

}

.navbar-light .navbar-nav .nav-link{

  padding: 20px;      /*increased dropdown menu size*/

}

.navbar-light .navbar-nav #active{
  color: #8CAB5C;       /*activated link color*/
}

button.navbar-toggler.collapsed{
  border-color: #fff;

}

span.navbar-toggler-icon{
  width: 20px;
  height: 20px;       /*hamburger size*/
}

.navbar-light .navbar-toggler{
  border-color:#fff;   
}

button.navbar-toggler{

  border: 0;

}


/*styling advisory message*/

p.advisory-text{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:400;
  word-spacing: 1.5px;
  text-align: center;
  color: #86868b;
  margin: 15px;
 
  
}


/*styling about content*/

div#about-values.container-fluid {
  padding: 60px 50px;
  text-align: center;
  border-top:  1px solid  #DDDDDD;
}


div#rest.container-fluid{

  padding-top: 30px;
  text-align: center;
}

/*styling about content ends*/


