
*{

  font-family: 'Montserrat', sans-serif;

}



.navbar {
  
  border-bottom: 1px solid  #DDDDDD;
  
}

ul.navbar-nav{
  margin-left: auto;    /*shifted navbar to the right in desktop mode*/
}

.navbar-brand{

  font-size: 24px;
  letter-spacing: 6px;      /*styled my logo as a text*/
  font-weight: 600;
}


.navbar-collapse {
  text-align: center;     /*brought links to center in collapsed mode*/
}


.navbar-light .navbar-nav .nav-link {     
  
  font-size: 13px;
  color: #000;          
  font-weight: 600;       /*colored the links as black*/
}


.navbar-light .navbar-nav .nav-link:hover{

  color: #8CAB5C;

}

.navbar-light .navbar-nav .nav-link{

  padding: 20px;      /*increased dropdown menu size*/

}

.navbar-light .navbar-nav #active{
  color: #8CAB5C;       /*activated link color*/
}

button.navbar-toggler.collapsed{
  border-color: #fff;

}

span.navbar-toggler-icon{
  width: 20px;
  height: 20px;       /*hamburger size*/
}

.navbar-light .navbar-toggler{
  border-color:#fff;   
}

button.navbar-toggler{

  border: 0;

}


/*styling advisory message*/

p.advisory-text{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:400;
  word-spacing: 1.5px;
  text-align: center;
  color: #86868b;
  margin: 15px;
 
  
}



/*styling Jumbotron*/

.jumbotron{
  
  background-image: url("Images/visule-jumbotron.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 20%;
}

h1.display-4{
  color: #fff;
  font-size: 5vw;
  
}

p.lead{
  color: #86868b;
  font-size: 2.4vw;

}

.jumbotron a{
  
  font-size: 2vw;
  padding-left: 2px;

}

/*styling jumbotron ended*/


img.img-fluid{

  padding: 10px;
}

div.text-head p{

  text-align: center;
  font-size: 15px;
  padding: 20px;
  font-weight: 900;
  margin-top: 30px;


}

div.text-model p{

  text-align: center;
  font-size: 15px;
  padding: 20px;
  font-weight: 900;
  margin-top: 30px;


}

div.text-inspire p{

  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  padding: 20px;
  font-weight: 900;


}

div.text-last h3{

  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  padding: 20px;
  font-weight: 900;


}

div.text-last p{

  text-align: center;
  font-size: 15px;
  padding: 0 20px 0 20px;
  font-weight: 900;

}

div.text-last{

  padding-bottom: 30px;
}



/*styling services content*/


div.card{

  margin: auto;
}

a.btn.btn-primary{
  background-color:#8CAB5C;
  border: #fff;
}

button.btn.btn-primary{

  background-color: #8CAB5C;
  border: #fff;
}



/*contact us form styling*/

form{

  margin-left: 20px;
  margin-right: 20px;
}

div.form-group{

  font-size: 0.9rem;
  padding: 10px 0 10px 0;

  
}

input.form-control{

  font-size: 0.8rem;
}



/*styling footer*/



html{

  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px; /*margin bottom by footer heigt*/
}

.footer{


  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


span.text-muted{

  font-size: 0.8rem;
  
}